<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href="{% static 'css/foundation.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/what-input.js'%}"></script>
    <script src="{% static 'js/foundation.min.js'%}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
